<app-nav-bar>

  <div class="container-fluid">

    <div class="row" style="margin-bottom: 25px;">

       <div class="col-md-3">

          <mat-card>
            <mat-card-content style="text-align: center;">
               <span class="dot"><i class="fas fa-envelope" style="font-size:19px;color:#10ae58;"></i></span>
               <br/>
               <span style="color: #000;font-size: 13px;">Nombre total de campagne</span>
               <br/>
               <span style="color: #000;font-size: 26px;font-weight: 800;">03</span>
            </mat-card-content>
          </mat-card>

       </div><!--col-md-->

       <div class="col-md-3">

         <mat-card>
            <mat-card-content style="text-align: center;">

              <span class="dot"><i class="fas fa-percentage" style="font-size:22px;color:#eb3b5a;"></i></span>
               <br/>
               <span style="color: #000;font-size: 13px;">Taux d'ouverture</span>
               <br/>
               <span style="color: #000;font-size: 26px;font-weight: 800;">32</span>

            </mat-card-content>
          </mat-card>

       </div><!--col-md-->

       <div class="col-md-3">

         <mat-card>
            <mat-card-content style="text-align: center;">

               <span class="dot"><i class="fas fa-envelope-open" style="font-size:19px;color:#FF9100;"></i></span>
               <br/>
               <span style="color: #000;font-size: 13px;">Nombre de message envoyé</span>
               <br/>
               <span style="color: #000;font-size: 26px;font-weight: 800;">32</span>

            </mat-card-content>
          </mat-card>

       </div><!--col-md-->

       <div class="col-md-3">

         <mat-card>
            <mat-card-content style="text-align: center;">

               <span class="dot"><i class="fas fa-percent" style="font-size:19px;color:#0B0B59;"></i></span>
               <br/>
               <span style="color: #000;font-size: 13px;">Taux de réception</span>
               <br/>
               <span style="color: #000;font-size: 26px;font-weight: 800;">32</span>

            </mat-card-content>
          </mat-card>

       </div><!--col-md-->


    </div><!--row-->

    <div class="row">
      <div class="col-md-8" style="font-size: 13px;">
         <form [formGroup]="filterFormGroup">

          <mat-form-field appearance="outline" class="example-full-widthp" style="margin-right: 14px;">
            <mat-label>Du - Au</mat-label>
            <mat-date-range-input [formGroup]="filterFormGroup" [rangePicker]="picker">
              <input matStartDate formControlName="fromDate" placeholder="Date de début">
              <input matEndDate formControlName="fromEnd" placeholder="Date de fin">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Fermer</button>
                <button mat-raised-button (click)="applyFilterDate($event)" class="sizeButtons" matDatepickerApply>Appliquer</button>
              </mat-datepicker-actions>
            </mat-date-range-picker>
            <mat-error *ngIf="filterFormGroup.controls.fromDate.hasError('matStartDateInvalid')">Date de début invalide</mat-error>
            <mat-error *ngIf="filterFormGroup.controls.fromEnd.hasError('matEndDateInvalid')">Date de fin invalide</mat-error>

            <!--<input matInput [matDatepicker]="fromDate" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>-->
          </mat-form-field>

          <!--<mat-form-field appearance="outline" class="example-full-widthp" style="margin-right: 14px;">
            <mat-label>Au</mat-label>
            <input matInput [matDatepicker]="fromEnd" formControlName="fromEnd">
            <mat-datepicker-toggle matSuffix [for]="fromEnd"></mat-datepicker-toggle>
            <mat-datepicker #fromEnd></mat-datepicker>
          </mat-form-field>-->

          <!--<button mat-raised-button (click)="applyFilterDate($event)" class="sizeButtons">Appliquer</button>-->

         </form>
          
      </div><!--col-->
      <div class="col-md-4" style="padding-top: 5px;">
        <div align="right">
          <button mat-raised-button class="sizeButv" style="margin-right: 14px;" [routerLink]="['/message/client']">Message client </button>
          <button mat-raised-button class="sizeBut" style="margin-right: 14px;" [routerLink]="['/add/promotion']">Créer une campagne <i class="fas fa-plus"></i></button>
          <!--<button mat-raised-button class="sizeb"><i class="fas fa-file-export" style="font-size: 23px;"></i></button>-->
        </div>

      </div><!--col-->
    </div><!--row-->

    <div class="row">

      <div class="col-md-12">

         <div>
           <mat-card>
             <mat-card-content>

                <table mat-table [dataSource]="dataSource" matSort>

                  <!-- Position Column -->
                  <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef> Nom campagne </th>
                    <td mat-cell *matCellDef="let element" style="cursor: pointer;font-size: 12px;color: #0c2461;" (click)="openDialog(element.id)" > {{element.nom}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="programation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date programation </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"><span *ngIf="element.jours">{{element.jours |date: 'dd/MM/YYYY'}} à {{element.heure}}</span>  <span *ngIf="!element.jours">Non programmé</span></td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="envoi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'envoi </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> {{element.dateEnvoie |date: 'dd/MM/YYYY'}}  </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="cible">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cible</th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> {{element.cible}} </td>
                  </ng-container>

                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef [matMenuTriggerFor]="menu" style="cursor: pointer;"> Type <i class="fas fa-caret-down"></i></th>
                    <mat-menu #menu="matMenu">
                      <section class="example-section">
                        <span class="example-list-section">
                          <mat-radio-group class="example-radio-group">
                            <mat-radio-button class="example-radio-button" (change)="changeRadioActionCible($event)" value=""><span style="font-size: 12px;color: #c50e73;">Types</span></mat-radio-button>
                            <span class="example-list-section">
                              <ul>
                                <li class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" *ngFor="let type of listType" [value]="type.nom" (change)="changeRadioActionCible($event)"><span style="font-size: 11px;">{{ type.nom}}</span></mat-radio-button>
                                </li>
                              </ul>
                            </span>
                          </mat-radio-group>
                        </span>    
                      </section>
                    </mat-menu>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> {{element.type}} </td>
                  </ng-container>

                  <ng-container matColumnDef="montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> </td>
                  </ng-container>

                  <ng-container matColumnDef="activation">
                    <th mat-header-cell *matHeaderCellDef [matMenuTriggerFor]="menu1" style="cursor: pointer;"> Activation <i class="fas fa-caret-down"></i> </th>
                    <mat-menu #menu1="matMenu">
                      <section class="example-section">
                        <span class="example-list-section">
                          <mat-radio-group class="example-radio-group">
                            <mat-radio-button class="example-radio-button" (change)="changeRadioAction($event)" value=""><span style="font-size: 12px;color: #c50e73;">Critère d'activation</span></mat-radio-button>
                            <span class="example-list-section">
                              <ul>
                                <li class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" *ngFor="let critere of listCritere" [value]="critere.nom" (change)="changeRadioAction($event)"><span style="font-size: 11px;">{{ critere.nom}}</span></mat-radio-button>
                                </li>
                              </ul>
                            </span>
                          </mat-radio-group>
                        </span>
                      </section>
                    </mat-menu>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> {{element.critere}} </td>
                  </ng-container>

                  <ng-container matColumnDef="payement">
                    <th mat-header-cell *matHeaderCellDef> Payement <i class="fas fa-caret-down"></i></th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)">  </td>
                  </ng-container>

                  <ng-container matColumnDef="statut">
                    <th mat-header-cell *matHeaderCellDef> Statut <i class="fas fa-caret-down"></i></th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;" (click)="openDialog(element.id)"> {{element.etat}}  </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                    <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;color: #0c2461;"> 
                      <button mat-icon-button color="primary" matTooltip="Modifier" *ngIf="element.etat!='envoyée'" (click)="editPromotion(element.id)">
                        <mat-icon style="font-size: 20px;">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="openDialogDelete(element.id)">
                        <mat-icon style="font-size: 20px;">delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20]"
                              showFirstLastButtons
                              aria-label="Select page of periodic elements">
                </mat-paginator>

             </mat-card-content>
           </mat-card><!--card-->
           
         </div>

      </div><!--col-->

    </div><!--row-->

  </div><!--container-fluid-->

</app-nav-bar>
