<mat-dialog-content class="mat-typography">
  <div class="container-fluid">

    <div class="row justify-content-md-center">
      <div class="col-lg-5 col-md-auto">

        <div class="card" style="border-color: #F6F6FF;">
        <div class="card-body">
          <div class="text-center">
             <p class="titleFront"><i class="fas fa-bullhorn" style="font-size:35px"></i> {{promotion?.nom}} </p>
             <p style="font-size: 12px;color: #a3a0a0;" *ngIf="promotion?.heure"><span>Date: {{promotion?.jours | date : 'dd/MM/YYYY'}}</span> <span class="vl"></span> <span style="margin-left: 10px;">Heure: {{promotion?.heure}}</span> <span class="vl"></span> <span style="margin-left: 10px;">Type: {{promotion?.types}}</span></p>
             <p style="font-size: 12px;color: #a3a0a0;" *ngIf="!promotion?.heure"><span>Date:  {{promotion?.dateEnvoie | date : 'dd/MM/YYYY'}} </span> <span class="vl"></span> <span style="margin-left: 10px;">Heure: {{promotion?.dateEnvoie | date : 'HH:mm:ss'}}</span> <span class="vl"></span> <span style="margin-left: 10px;">Type: {{promotion?.types}}</span></p>
          </div>
        </div><!--card-body-->
       </div><!--card-->
      </div>
    </div><!--row-->

     <div style="padding-top: 15px;">
        <div class="card" style="border-color: #F6F6FF;">
        <div class="card-body">
          <div class="row">
             <div class="col-md-3">
                <div class="text-center">
                  <i class="fas fa-bullhorn" style="font-size:35px;color:#FF9100;"></i>
                  <p style="font-size: 12px;color: #7e7c7c;">Messages envoyés</p>
                  <p style="font-size: 19px;font-weight: 700;">6700</p>
                </div>
             </div><!--4-->
             <div class="col-md-2">

                <div class="text-center">
                  <i class="fas fa-file-invoice-dollar" style="font-size:35px;color:#D70000;"></i>
                  <p style="font-size: 12px;color: #7e7c7c;">Coût</p>
                  <p style="font-size: 19px;font-weight: 700;">6700</p>
                </div>

             </div><!--4-->
             <div class="col-md-2">

                <div class="text-center">
                  <i class="fas fa-users" style="font-size:35px;color:#04075E;"></i>
                  <p style="font-size: 12px;color: #7e7c7c;">Cible</p>
                  <p style="font-size: 19px;font-weight: 700;">6700</p>
                </div>

             </div><!--4-->
             <div class="col-md-2">

                 <div class="text-center">
                  <i class="fas fa-users" style="font-size:35px;color:#6FE443;"></i>
                  <p style="font-size: 12px;color: #7e7c7c;">Ouvreur</p>
                  <p style="font-size: 19px;font-weight: 700;">6700</p>
                </div>

             </div><!--4-->

             <div class="col-md-2">
               <div class="text-center">
                  <i class="fas fa-bullhorn" style="font-size:35px;color:#D70000;"></i>
                  <p style="font-size: 12px;color: #7e7c7c;">Non livré</p>
                  <p style="font-size: 19px;font-weight: 700;">6700</p>
                </div>
             </div>
          </div>
        </div><!--card-body-->
     </div><!--card-->
     </div>


  </div>
</mat-dialog-content>
