<app-nav-bar>
  <div class="container-fluid" style="margin-bottom: 25px;">


    <div>
      <button mat-raised-button class="sizeButtonAB" [routerLink]="'/promotions'" align="left"><i class="fas fa-long-arrow-alt-left" style="font-size: 15px;"></i></button>
    </div>


    <div class="row">

      <div class="col-md-8">

        <mat-stepper labelPosition="bottom" [selectedIndex]="selectedStepIndex" #stepper>
          <mat-step>
            <ng-template matStepLabel>Envoyer un message au client à chaque visite</ng-template>
            <div>
              <app-visite-message></app-visite-message>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Envoyer un message à chaque anniversaire</ng-template>
            <div>
              <app-anniversaire-message></app-anniversaire-message>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Relancer les clients</ng-template>
            <div>
              <app-relancer-message></app-relancer-message>
            </div>
          </mat-step>
        </mat-stepper>

      </div><!--col-md-8-->

      <div class="col-md-4">
        <p class="titreHeader" style="font-weight: bold;">
          <!--<span style="position: relative;right: 31%;">
          </span>-->
          <span style="position: relative;right: 12%;">
            Visualiser
          </span>

          </p>

            <div class="row">
              <div class="col-md-12">

                <img src="assets/images/phone.png" alt="Angular Carousel 1" style="width:80%;display:block; margin-left: auto;margin-right: auto;">

                 <div *ngIf="message?.typePromotion=='App'" class="app">

                  <div style="padding-top: 85px;">

                    <div style="margin-bottom:15px;">
                      <img  src="data:image/png;base64,{{message?.photo}}" style="width:68%;position:relative;left:13%;" *ngIf="message?.photo">
                      <img  src="assets/images/blank.jpeg" style="width:68%;position:relative;left:13%;"  *ngIf="!message?.photo">
                    </div>

                    <p class="title-message">{{message?.nom}}</p>
                    <p class="message-text">{{message?.message}}</p>

                  </div>

                 </div><!--App-->

                 <div *ngIf="message?.typePromotion=='Sms'" class="sms">

                  <div style="padding-left: 59px;padding-top: 41px;">

                    <p style="text-align:center;font-size: 12px;color: rgb(102, 102, 102);">{{message.dateCreated | date:'dd/MM/YYYY'}}</p>

                    <mat-card style="background-color:#cce5fe !important;width:175% !important;">
                      <mat-card-content>
                        <p class="title-sms">{{message?.nom}}</p>
                        <p class="sms-text">{{message?.message}}</p>
                      </mat-card-content>
                    </mat-card>

                  </div>



                </div><!--Sms-->



              </div>
           </div>


      </div><!--col-md-4-->

    </div><!--row-->

  </div><!--container-->
</app-nav-bar>
