.card1{
    margin-bottom:10px;
    border-radius: 10px;
    //background: #0c2461;
    background: linear-gradient(90deg, #0c2461, #1a2131) !important;
}

.card2{
    margin-bottom:10px;
    border-radius: 10px;
}

.title{
    font-size: 14px;
    color: #49C120;
    font-weight: normal;
    //text-align: center;
    //position: relative;
    //top: 35px;
}

.icontitle{
    font-size: 20px;
    color: #fff;
    float: right;
}

.title1{
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
}

.titleNumber{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    //text-align: center;
    //position: relative;
    //top: 26px;
}

.titleStat{
    font-size: 15px;
    color: #243665;
    font-weight: 700;
}

.cardTitle{
    font-size: 11px;
    color: #fff;
    //position: relative;
    //left: 6px;
}

.cardT{
    text-align: center;
    color: #49C120;
    font-weight: bold;
    font-size: 20px;
    //position: relative;
    //top: 6px;
}

.cardTt{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 16px;
}

.p1{
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    left: 50px;
    text-align: center;
    bottom: 12px;
}

.titleCadeau{
    font-size: 14px;
    color: #0c2461;
}

.nameCadeau{
    font-size: 12px;
    color: #0c2461;
    position: relative;
    left: 5px;
    bottom: 6px;
}

.pointCadeau{
    font-size: 9px;
    color: #0c2461;
    position: relative;
    bottom: 22px;
    left: 41px;
}

.totalCadeau{
    font-size: 13px;
    color: #9FA2B4;
    text-align: center;
    padding: 4px;
    //float: right;
    //position: relative;
    //top: 12px;
}

.nameClient{
    font-size: 11px;
    color: #0c2461;
}

.adresseClient{
    font-size: 9px;
    color: #000000;
}

.div2{
    margin-bottom: 20px;
    //position: relative;
    //left: 190px;
}

.btn-select{
    border-radius: 20px;
    width: 19%;
}

.txt1{
  font-size: 14px;
  color: #0c2461;
}

.txt2{
    font-size: 12px;
    color: #0c2461;
    text-align: center;
    position: relative;
    bottom: 7px;
}

.txt3{
    font-size: 16px;
    color: #0c2461;
    text-align: right;
    font-weight: bold;
}

.txt4{
    font-size: 12px;
    color: #0c2461;

}

.txt5{
    font-size: 10px;
    color: #0c2461;
    text-align: right;
}

.icon-color{
    color: #000000;
}

.icon1{
    color: #ce4a7b;
    font-size: 48px;
}

.icon2{
    color: #49C120;
    font-size: 48px;
}

.prcnt{
    position: relative;
    bottom: 9px;
    left: 24px;
}

table {
    width: 100%;
}

.line1{
    border-left: 1px solid #DFE0EB;
    height: 100%;
    position: absolute;
    //left: 50%;
    margin-left: -3px;
    top: 0;
}

.divider1{
    position: absolute;
    right: 0;
    width: 32.5%;
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #DFE0EB;
}

.infoStat{
    font-weight: 400;
    font-size: 12px;
    color: #9FA2B4;
}

.rowTable{
    line-height: 55px;
    min-height: 55px;
    height: 55px;
}

